# Git
.git
.gitignore
.github

# Environment
.env
.env.*
!.env.example

# Dependencies
vendor
node_modules

# Laravel runtime
storage/app/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*

# Tests and docs
tests
coverage
docs
*.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
compose.yml
docker-compose.yml